
body{
	background: rgb(245,245,245);
}

/* 主体布局部分 */
.layout {
	min-width: 300px;
	max-width: 640px;
	/* background: white; */
	margin: 0 auto;
}

/* －－－－－－－－header部分－－－－－－－－－－－ */
.header{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.header_box {
	position: relative;
	min-width: 300px;
	max-width: 640px;
	margin: 0 auto;
	/* background: red; */
	background: rgba(201,21,35,0.85);
	height: 40px;
	padding-left: 70px;
	padding-right: 40px;
}

/* logo部分 */
.header_box .icon_logo {

	background-position: 0px -103px;
	width: 60px;
	height: 36px;
	position: absolute;
	left: 5px;
	top: 2px;
}

/* 表单 */
.header form {
	width: 100%;
	/* height:  */
	padding-top: 5px;
}
/* 输入框 */
.header form input {
	width: 100%;
	height: 30px;
	border-radius: 15px;
	padding-left: 25px;
}
/* 搜索图标 */
.header form .icon_search {

	background-position: -60px -109px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 75px;
	top: 10px;

}
/* 登录按钮 */
.header_box  a{
	display: block;
	position: absolute; /*相对于box设置*/
	right: 0px;
	top: 0px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 15px;
	color: white;
}


/* －－－－－－－－－－－－－－－－－－－－－－ */
.banner {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.banner ul:first-child{
	width: 800%;
}

.banner ul:first-child li {
	width: 12.5%;
	float: left;
}

.banner ul:first-child li img{
	width: 100%;
	display: block;
}

/* 点点索引 */

.banner ul:last-child{
	width: 100px;
	height: 10px;
	/* background: green; */
	position: absolute;
	left: 50%;
	margin-left: -50px;
	bottom: 10px;

}

.banner ul:last-child li{
	float: left;
	width: 6px;
	height: 6px;
	border: 1px solid white;
	border-radius: 3px;
	margin-left: 5px;
}

.banner ul:last-child li:first-child{
	margin-left: 0;
}

/* 导航部分 */
.nav {
	width: 100%;
	/* padding: 0 20px; */
	background: white;
}

.nav ul {
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

.nav ul li {
	width: 25%;
	float: left;
	margin-top: 10px;
}
.nav ul li a {
	/* 图片比较小，可以直接使用text-align 居中 */
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
}

.nav ul li img{
	width: 40px;
	height: 40px;
}

/* 秒杀部分 */
.product {
	width: 100%;
	padding : 0 5px;
}
.product .secondkill {
	width: 100%;
	background: white;
	margin-top: 8px;

}


.product .secondkill .secondkill_top {
	height: 45px;
}

.secondkill_top .icon_time {
	background: url('../images/seckill-icon.png');
	background-size: 20px 25px;
	display: block;
	width: 20px;
	height: 25px;
	margin-top: 10px;
	margin-left: 10px;
	float: left;
}

.secondkill_top p {
	float: left;
	line-height: 45px;
	color: red;
	font-size: 15px;
	margin-left: 5px;
}

.kill_time {
	float: left;
	margin-left: 8px;
	margin-top: 12px;
}
.kill_time .num {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: black;
	color: white;
	font-size: 15px;
	text-align: center;
}
.secondkill_top a {
	float: right;
	line-height: 45px;
	font-size: 15px;
	margin-right: 20px;
}
.secondkill_bottom{
	width: 100%;
}
.secondkill_bottom ul{
	width: 100%;
}
.secondkill_bottom ul li {
	width: 33.333333%;
	float: left;
	text-align: center;
}
.imgbox{
	width: 100%;
	border-right: 1px solid gray;
}
.secondkill_bottom ul li:last-child .imgbox{
	border-right: none;
}
.secondkill_bottom ul li img {
	width: 60%;
}

/* 价格部分 */
.new_price {
	color: red;
	font-size: 15px;
}

.old_price{
	color: red;
	font-size: 13px;
	text-decoration: line-through;
}

/* 底部盒子 */

.prduct_box {
	width: 100%;
	background: white;
	margin-top: 8px;
}
.product_top {
	width: 100%;
	height: 35px;
	position: relative;
}

.product_top p:before {
	content: "";
	display: block;
	background: red;
	width: 3px;
	height: 15px;
	position: absolute;
	top: 10px;
	left: 10px;
}

.product_top p {
	margin-left: 20px;
	line-height: 35px;
	font-size: 15px;
	color: black;
}


.p_left {
	width: 50%;
	float: left;
}
.p_right {
	width: 50%;
	float: right;
}


.product_bottom a img{
	width: 100%;
}

/* 边框 */
.b_top {
	border-top: 1px solid gray;
}

.b_bottom {
	border-bottom: 1px solid gray;
}

.b_right {
	border-right: 1px solid gray;
}

.b_left {
	border-left: 1px solid gray;
}


/* 轮播图样式 */
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > li {
	float: left;
	width: 100%;
	position: relative;
}



